@import "/styles/theme.scss";

.button {
    background-color: transparent;
    cursor: pointer;
    appearance: none;
}

.button-border-none {
    border: none;
    outline: none;
}

.button-border-rounded {
    border-radius: 5px;
}

.button-sm {
    font-size: $text-sm;
    padding: 0.25rem 0.5rem;
}

.button-md {
    font-size: $text-md;
    padding: 0.5rem 0.5rem;
}

.button-lg {
    font-size: $text-lg;
    padding: 0.25rem 0.5rem;
}
