@import '/styles/theme.scss';

.input {
    padding : 0.25rem;
    border : none;
    outline: none;
}

.input-border-default {
    border : 1px solid  $border-color;
    border-radius : 3px;
    &:focus {
        outline : solid $border-focus-color;
        border : 1px solid $border-focus-color;
    }
}

.input-sm {
    font-size: $text-sm;
}

.input-md {
    font-size: $text-md;
}

.input-lg {
    font-size: $text-lg;
}