@import '/styles/theme.scss';

.container{
    width : 450px;
    height : 100%;
    padding : 0.5rem;
    display: flex;
    flex-direction: column;

}

.input-item {
    margin-bottom: 0.5rem;
}

.footer{
    margin-top: auto;
    button {
        display: flex;
        align-items: center;
        svg {
            margin-right: 0.25rem;
        }
    }
}