@import "/styles/theme.scss";

.icon-button {
    background-color: transparent;
}

.icon-button-stroke-primary {
    svg {
        stroke: $primary-color;
        &:hover{
            stroke: $primary-dark-color;
        }
    }
}

.icon-button-stroke-secondary {
    svg {
        stroke: $secondary-color;
        &:hover{
            stroke: $secondary-dark-color;
        }
    }
}

.icon-button-stroke-text {
    svg {
        stroke: $text-color;
        &:hover{
            stroke: $text-dark-color;
        }
    }
}

.icon-button-fill-primary {
    svg {
        fill: $primary-color;
        &:hover{
            fill: $primary-dark-color;
        }
    }
}

.icon-button-fill-secondary {
    svg {
        fill: $secondary-color;
        &:hover{
            fill: $secondary-dark-color;
        }
    }
}

.icon-button-fill-text {
    svg {
        fill: $text-color;
        &:hover{
            fill: $text-dark-color;
        }
    }
}